article.archive {

    @media (min-width: $mobile-resolution) {
        .post__list {
            display: grid;
            grid-gap: 30px;
        }
    }

    @media (min-width: $laptop-resolution-portrait + 1) and (max-width: $laptop-resolution) {
        &:not(.filter) {
            .post__list {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }

        &.filter {
            .post__list {
                grid-template-columns: 1fr 1fr;
            }
        }
    }

    @media (min-width: $laptop-resolution + 1) {
        &:not(.filter) {
            .post__list {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }

        &.filter {
            .post__list {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }

    @media (max-width: $laptop-resolution-portrait) {
        &:not(.filter) {
            .post__list {
                grid-template-columns: 1fr 1fr;
            }
        }
    }

    @media (max-width: $mobile-resolution) {
        .post__list {
            .post__item:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }

    .post__item {
        animation: fadeIn ease-in-out;

        &:nth-of-type(1) {
            animation-duration: 1000ms;
        }

        &:nth-of-type(2) {
            animation-duration: 1200ms;
        }

        &:nth-of-type(3) {
            animation-duration: 1400ms;
        }

        &:nth-of-type(4) {
            animation-duration: 1600ms;
        }

        &:nth-of-type(5) {
            animation-duration: 1800ms;
        }

        &:nth-of-type(6) {
            animation-duration: 2000ms;
        }

        &:nth-of-type(7) {
            animation-duration: 2200ms;
        }

        &:nth-of-type(8) {
            animation-duration: 2400ms;
        }

        &:nth-of-type(9) {
            animation-duration: 2600ms;
        }
    }

    &:not(.authors) {
        .post__content {
            padding: 10px 10px 30px;
        }
    }

    &.authors {
        .post__list {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        .post__title {
            margin: 0;
            text-align: center;
        }
    }
}