.aside {
    flex: 0 0 250px;

    .post {

        @media (max-width: $laptop-resolution) {
            &__list {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 30px;
            }
        }

        @media (min-width: $laptop-resolution + 1) {
            &__item {
                &:not(:last-child) {
                    margin-bottom: 30px;
                }
            }
        }

        &__title {
            margin-bottom: 0;
        }
    }
}