.aside {
    flex: 0 0 250px;
    position: sticky;
    top: 0;

    .post__item {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    .post__title {
        margin-bottom: 0;
    }
}