.news-filter {
    position: sticky;
    top: 110px;

    &__cat {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__item {
        display: block;
        cursor: pointer;

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        input {
            margin-right: 10px;
        }
    }

    &__clear {
        color: $font-color;
        text-decoration: underline;
        margin-top: 50px;
        display: block;
        font-size: 1.1rem;
    }
}