.single {
    .article {
        &__head {
            min-height: 870px;
            background-position: top;
        }

        &__title {
            padding: 30px 0;
            border-top: 1px solid rgba(132,132,132,1);

            h1 {
                background: linear-gradient(90deg, rgba(55, 7, 53, 1) 15%, rgba(225, 26, 147, 1) 96%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    .aside {
        .post__list {
            position: sticky;
            top: 50px;
        }
    }
}