@font-face {
  font-family: 'Merri Bold', sans-serif;
  src: url('../assets/fonts/Merriweather-Bold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Merri Regular', sans-serif;
  src: url('Merriweather-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Merri Italic', sans-serif;
  src: url('Merriweather-Italic.ttf') format('ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Merriweather-Light.ttf', sans-serif;
  src: url('FuturaPT-Light.eot?#iefix') format('ttf');
  font-weight: 300;
  font-style: normal;
}
