.fx-sql-result {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border-left: 3px solid #007fb3;
    margin: 5px 0;
    background: white;
}

#fx-sql-table {
    margin-top: 20px;
    width: 100%;
    max-width: 300px;
}

#fx-sql-table > thead {
    background: #23282d;
    color: white;
}

#fx-sql-table > thead th {
	padding: 10px;
	width: 25%;
}

#fx-sql-table > thead th:first-of-type {
	width: 75%;
}

#fx-sql-table > tbody td {
	padding: 10px;
    border-left: 1px solid #32373c;
    border-bottom: 1px solid #32373c;
    background: white;
}

#fx-sql-table > tbody td:last-of-type {
    border-right: 1px solid #32373c;
}

#fx-sql-table > tbody .fx-sql-success {
    color: #0d650d;
    font-weight: 500;
}

#fx-sql-table > tbody .fx-sql-fail {
    color: #a01e14;
    font-weight: 500;
}